/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */

html {
  overflow-y: scroll;
}

body {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.chooser {
  width: 100%;
}

#chartlist {
  margin-top: 10px;
}

.rollsign {
  width: 50px;
  height: 20px;
  margin:1px;
  background-color: #ddd;
  display: inline-block;
  overflow: hidden;
  text-overflow: clip;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.rollsign:hover {
  background-color: black;
}

.rollsign.displayed {
  font-weight: bold;
  background-color: #F5355B;
  color: white;
}

.container {
  width:90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
  .container {
    width:100%;
  }
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  fill: black;
  font-size: 10px;
}

.stop {
  fill: black;
  font-size: 10px;
  opacity: 0;
}

.stop.stopHighlighted {
  opacity: 1;
}

.stop:first-child {
  opacity: 1;
}

.stop:last-child {
  opacity: 1;
}

.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}

#toggles label {
  color: black;
  display: inline;
}

#toggles input {
  margin-left: 10px;
  margin-right: 2px;
  display: inline;
}

svg *::selection {
    background : transparent;
}
 
svg *::-moz-selection {
    background:transparent;
}
 
svg *::-webkit-selection {
    background:transparent;
}

path {
  fill: none;
}

.vehiclePath {
  stroke-width: 1.2;
  stroke: #222222;
}

.vehiclePath.live {
  stroke: #F5355B;
}

.guide {
  stroke: #999999;
  stroke-width: 1px;
}

#help {
  background-color: #eee;
  font-size: 12px;
}

#help svg {
  background-color: white;
  display: inline-block;
}

#help .half {
  display: inline-block;
  width: 50%;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
  #help .half {
    display: block;
    width: 100%;
  }
}

#help .half.right p {
  display: inline-block;
}

.emph {
  font-weight: bold;
}

.liveVehicle {
  fill: #F5355B;
}

.route:hover {
  background-color: #f4f4f4;
}

.route_short_name {
  margin-left: 15px;
  font-size: 20px;
  font-weight: bold;
  display: inline;
}

.route_long_name {
  margin-left: 4px;
  font-size: 14px;
  font-weight: bold;
  display: inline;
}

.switch_button {
  margin-left: 8px;
  font-size: 12px;
  display: inline;
  float: right;
  margin-right: 60px;
  background-color: #aaa;
  padding: 4px;
}

.bigtitle {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

#credits {
  height: 80px;
  padding: 12px;
  font-size: 12px;
  color: #555;
}

#credits h1 {
  font-weight: bold;
}

#agencylist {
  margin-top: 10px;
  display: inline-block;
}

.agency {
  display: inline-block;
  font-size: 12px;
  color: #999;
  background-color: #ddd;
  padding: 5px;
}

.agency.selected {
  color: white;
  background-color: black;
}

.agency_header {
  font-weight: bold;
}

.control_row {
  padding-top: 5px;
}

#help .close_button {
  margin-top: 3px;
}

.close_button {
  cursor: pointer;
  float: right;
  margin-right: 10px;
  color: #aaa;
  font-size: 20px;
  margin-top: -2px;
}

.toggle_container {
  float: right;
  display: inline-block;
  margin-right: 136px;
}

.dir_toggle {
  float: right;
  display: inline-block;
  font-size: 12px;
  padding: 3px;
  background-color: #ccc;
  color: #777;
  cursor: pointer;
}

.dir_toggle.selected {
  background-color: #F5355B;
  color: white;
}
